{% comment %}

  This snippet is used for rendering the accordion

  blocks - { object } *required,
  behavior - "string" *required,
  section_id: - "string" *required

  Usage:

  {% render 'accordion-block',
      blocks: blocks,
      behavior: your_id,
      section_id: your_id
  %}

{% endcomment %}

{% if blocks.size > 0 %}
  <ul class="accordion-block">
    {% for block in blocks %}
      <li class="accordion-block__item" id="{{- block.id -}}">
        {% if block.settings.heading != blank %}
          <input
            {% if behavior == "single" %}type="radio"{% else %}type="checkbox"{% endif %}
            class="accordion-block__trigger"
            id="{{- section_id -}}-{{- block.id -}}"
            name="accordion trigger"
          />

          <h3 class="accordion-block__heading">
            <label class="accordion-block__label" for="{{- section_id -}}-{{- block.id -}}">
              {{ block.settings.heading }}
              <span class="accordion-block__label-icon">icon</span>
            </label>
          </h3>
        {% endif %}

        {% if block.settings.content != blank %}
          <div class="accordion-block__content bq-content rx-content">
            <p>{{ block.settings.content }}</p>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
