{% comment %}

  This snippet is using for rendering the form input password fields on Edit password, Accept invitation and Register pages.

  form_name - "string" optional, the name of the form
  password_label - "string" required, the label of the first field
  password_confirmation_label - "string" required, the label of the second field
  button_label - "string" required

  Usage:

  {%- render 'form-password-session-pages',
      form: form,
      form_name: "edit_password",
      password_label: section.settings.password_label,
      password_confirmation_label: section.settings.password_confirmation_label,
      button_label: section.settings.change_my_password
  -%}

{% endcomment %}

{%- if password_label != blank -%}
  <div class="{% if form.errors.password %}account-fieldset--error{% endif %}">
    <label for="user_password" class="account-fieldset__label">{{ password_label }}</label>
    <input
      value="{{- form.password -}}"
      placeholder=" "
      class="account-fieldset__input"
      {% unless form_name == "register" %}
      autofocus="autofocus"
      {% endunless %}
      autocomplete="new-password"
      type="password"
      name="user[password]"
      id="user_password">
    <div class="account__error-message">{{ form.errors.password }}</div>
  </div>
{%- endif -%}

{%- if password_confirmation_label != blank -%}
  <div class="{% if form_name == "register" %}account__divider {% else %}account__divider--small {% endif %}{% if form.errors.password_confirmation %}account-fieldset--error{% endif %}">
    <label for="user_password_confirmation" class="account-fieldset__label">{{ password_confirmation_label }}</label>
    <input
      value="{{ form.password_confirmation }}"
      placeholder=" "
      class="account-fieldset__input"
      autocomplete="new-password"
      type="password"
      name="user[password_confirmation]"
      id="user_password_confirmation">
    <div class="account__error-message">{{ form.errors.password_confirmation }}</div>
  </div>
{%- endif -%}

{% if button_label != blank %}
  <div class="actions">
    <input
      type="submit"
      class="account__button account__button--primary"
      name="commit"
      value="{{ button_label }}"
    >
  </div>
{% endif %}
