<title>{{ page_title }}</title>
<meta property="og:title" content="{{ page_title }}">
<meta name="twitter:title" content="{{ page_title }}">

<meta property="og:site_name" content="{{ shop.name }}">

{% if shop.favicon_url %}
  <link rel="shortcut icon" href="{{ shop.favicon_url }}" />
{% endif %}

{% if page_description != blank %}
  <meta name="description" content="{{ page_description }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta name="twitter:description" content="{{ page_description }}">
{% endif %}

<meta name="twitter:card" content="summary">
<meta property="og:locale" content="{{ locale }}">

{% if product == blank %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ canonical_url }}">
{% else %}
  <meta property="og:type" content="product">
  <meta property="og:url" content="{{ canonical_url | append: product.url }}">
{% endif %}

{% if page_meta_image_url != blank %}
  <meta property="og:image" content="{{ page_meta_image_url }}">
  <meta property="og:image:secure_url" content="{{ page_meta_image_url }}">
  <meta name="twitter:image" content="{{ page_meta_image_url }}">

  {% if page_meta_image_alt != blank %}
    <meta property="og:image:alt" content="{{ page_meta_image_alt }}">
    <meta name="twitter:image:alt" content="{{ page_meta_image_alt }}">
  {% endif %}
{% endif %}
