{{ "product-page.css" | asset_url | stylesheet_tag }}

<div class="product-gallery">
  {{ product | product_gallery:
    enable_thumbnails: true,
    enable_controls: true,
    infinite_scroll: true
  }}
</div>
<div class="product-details">
  <div class="product-info">
    <h1 class="product-info__title">{{ product.name }}</h1>

    {% if product.description != blank and section.settings.description_placement == "top" %}
      <div class="product-description">
        <p class="product-description__label">{{ section.settings.description_label }}</p>
        <div class="product-description__content-container bq-content rx-content">
          {{ product.description }}
        </div>
      </div>
    {% endif %}

    <div class="product-button">
      {% if product.variants.size > 1 %}
        <p class="product-info__label">{{ 'store.variant' | user_t }}</p>
      {% endif %}
      {{ product | bundle_items }}
      {{ product | product_variations_select }}
      {{ product | product_price_label }}
      {{ product | product_price }}
      <div class="product-info__availability-container">
        {{ product | product_availability }}
        {{ product | availability_calendar }}
      </div>
      {{ product | product_button }}
    </div>
  </div>
  {% if product.description != blank and section.settings.description_placement == "bottom" %}
    <div class="product-description">
      <p class="product-description__label">{{ section.settings.description_label }}</p>
      <div class="product-description__content-container bq-content rx-content">
        {{ product.description }}
      </div>
    </div>
  {% endif %}
</div>
