<ul class="list-menu footer__social footer__social--size-{{ block.settings.size }} footer__social--align-{{ block.settings.align }} footer__social--spacing-{{ block.settings.spacing }}">
  {% if settings.social_twitter_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_twitter_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_facebook_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_pinterest_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-pinterest"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_instagram_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tiktok_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_tiktok_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-tiktok"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_tumblr_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-tumblr"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_snapchat_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_snapchat_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-snapchat"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_youtube_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
    <li class="list-menu__item">
      <a href="{{ settings.social_vimeo_link }}" target="_blank" class="footer__social-item">
        <i class="fa-brands fa-vimeo"></i>
      </a>
    </li>
  {% endif %}
</ul>
