{{ "collection-products.css" | asset_url | stylesheet_tag }}
{{ "product.css" | asset_url | stylesheet_tag }}
{{ "carousels.css" | asset_url | stylesheet_tag }}

{% if section.settings.title %}
  <h2 class="collection-products__title">{{ section.settings.title }}</h2>
{% endif %}
{% if section.settings.collection != blank %}
  <div class="carousel carousel--snap-{{ section.settings.snap }}">
    <div class="carousel__inner {% if section.settings.infinite_scroll %}infinite-scroll{% endif %}">
      {% for product in section.settings.collection.items %}
        {% if product != blank %}
          {% assign image = product.images.first %}
          <div class="product carousel__item">
            <a href="{{ product.url }}" class="product__image-container">{% if image != blank %}<img data-src="{{ image.url | image_url }}" alt="" class="product__image lazyload">{% endif %}</a>
            {{ product | product_availability }}
            <a href="{{ product.url }}">
              <h3 class="product__name">{{ product.name }}</h3>
            </a>
            {{ product | product_price_label }}
            {{ product | product_price }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="carousel__controls">
      <div class="carousel__control prev">
        <i class="fa-regular fa-arrow-left"></i>
      </div>
      <div class="carousel__control next">
        <i class="fa-regular fa-arrow-right"></i>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection Products",
  "tag": "section",
  "class": "collection-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "select",
      "id": "snap",
      "label": "Items alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "infinite_scroll",
      "label": "Infinite scroll"
    }
  ]
}
{% endschema %}
