{{ "collections.css" | asset_url | stylesheet_tag }}

{% if section.settings.title %}
  <h2 class="collections__title">{{ section.settings.title }}</h2>
{% endif %}
{% if section.settings.enable_show_more %}
  <a href="{{ routes.collections_url }}" class="collections__show-more">
    Browse all collections
    <i class="fa-regular fa-chevron-right"></i>
  </a>
{% endif %}
<div class="collections__list">
  {% if section.blocks.size >= 1 and section.blocks.first.settings.collection != blank %}
    {% for block in section.blocks %}
      <a id="{{ block.id }}" href="{{ block.settings.collection.url }}">
        <div class="collection">
          <img
            data-src="{{ block.settings.collection.image.url | image_url }}"
            class="collection__image lazyload"
            alt="{{ block.settings.collection.name }} collection image"
          >
          <h3 class="collection__name">{{ block.settings.collection.name }}</h3>
        </div>
      </a>
    {% endfor %}
  {% else %}
    {% for block in (1..2) %}
      <div id="{{ section.blocks.first.id }}" class="collection-cleanstate skeleton"></div>
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collections"
    },
    {
      "type": "checkbox",
      "id": "enable_show_more",
      "label": "Enable show more"
    }
  ],
  "max_blocks": 15,
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
