{{ "footer.css" | asset_url | stylesheet_tag }}

<!-- Icons -->
{% assign fa = "paypal,stripe" | split: "," %}
{% assign svg = "p24,eps,bancontact,giropay" | split: "," %}

<!-- Socials -->
{% assign has_socials = settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank %}

<div class="footer__content">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "socials" %}
        {% if has_socials %}
          {% include "socials" %}
        {% endif %}
      {% when "menu" %}
        <nav id="{{ block.id }}" class="footer__nav">
          <ul class="list-menu footer__menu footer__menu--align-{{ block.settings.align }}">
            {% for link in block.settings.menu.items %}
              <li class="list-menu__item">
                <a href="{{ link.url }}" class="footer__nav-item">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% when "payment_methods" %}
        {% if payment_methods.size > 0 %}
          <div id="{{ block.id }}" class="footer__payment-methods footer__payment-methods--align-{{ block.settings.align }}">
            {% for provider in payment_methods %}
              {% if fa contains provider %}
                <i class="fa-brands fa-cc-{{ provider }}"></i>
              {% else %}
                {% case provider %}
                  {% when "p24" %}
                    {% include "p24-icon" %}
                  {% when "eps" %}
                    {% include "eps-icon" %}
                  {% when "bancontact" %}
                    {% include "bancontact-icon" %}
                  {% when "giropay" %}
                    {% include "giropay-icon" %}
                {% endcase %}
              {% endif %}
            {% endfor %}
          </div>
      {% endif %}
    {% endcase %}
  {% endfor %}
  {% if section.settings.show_copyright %}
    <div class="footer__bottom">
      <div class="footer__copyright footer__copyright--align-{{ section.settings.align_copyright }}">
        &copy; {{ "now" | date: "%Y" }}, {{ shop.name }}{% if section.settings.show_powered_by %} | Powered by Booqable{% endif %}        
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer",
  "templates": [],
  "settings": [
    {
      "type": "header",
      "content": "Copyright"
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "Show copyright"
    },
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show Powered by Booqable"
    },
    {
      "type": "select",
      "id": "align_copyright",
      "label": "Align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    }
  ],
  "blocks": [
    {
      "type": "socials",
      "name": "Socials",
      "settings": [
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Icon"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        },
        {
          "type": "select",
          "id": "spacing",
          "label": "Spacing",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    },
    {
      "type": "payment_methods",
      "name": "Payment methods",
      "settings": [
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "menu",
      "id": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "menu",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ]
}
{% endschema %}
