{{ "image-text.css" | asset_url | stylesheet_tag }}

<div class="image-text__inner" style="
{% if section.settings.background_color %}
  background-color: {{ section.settings.background_color }};
{% endif %}
">
  {% if section.settings.background_image.url != blank %}
    <img
      data-src="{{ section.settings.background_image | image_url }}"
      alt="{{ section.settings.background_image_alt | default: "" }}"
      class="lazyload image-text__background"
    >
  {% endif %}
  {% if section.settings.overlay_enabled %}
    <span class="image-text__overlay" style="
    {% if section.settings.overlay_color %}
      background-color: {{ section.settings.overlay_color }};
    {% endif %}
    {% if section.settings.overlay_opacity %}
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    {% endif %}
    "></span>
  {% endif %}
  <div class="image-text__content image-text__content--align-{{ section.settings.content_align }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "heading" %}
          <h2 id="{{ block.id }}" class="image-text__title" style="color: {{ block.settings.color }};">{{ block.settings.text }}</h2>
        {% when "text" %}
          <p id="{{ block.id }}" class="image-text__text" style="color: {{ block.settings.color }};">{{ block.settings.text }}</p>
        {% when "button" %}
          <a id="{{ block.id }}" class="bq-button bq-button--size-{{ block.settings.size }} {% if block.settings.use_solid_button %}bq-button--solid{% endif %}" href="{{ block.settings.url }}" style="
            {% if block.settings.label_color %}
              color: {{ block.settings.label_color }};
            {% endif %}
            {% if block.settings.use_solid_button %}
              background-color: {{ block.settings.background_color }};
            {% endif %}
          ">
            {{ block.settings.text }}
          </a>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Image with Text",
  "tag": "section",
  "class": "image-text",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "overlay_enabled",
      "label": "Enable overlay",
      "default": false
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "number",
      "min": 0,
      "max": 100,
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "default": 60
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Image with text",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color",
          "default": "#ffffff",
          "label": "Color"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "Add some text to tell a story, explain how renting with your company works, or to let your potential customers know about the value you offer. Use this space however you like and fill it with whatever you want.",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "default": "#ffffff",
          "label": "Color"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Button label",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "id": "use_solid_button",
          "type": "checkbox",
          "label": "Use solid button",
          "default": true
        },
        {
          "type": "color",
          "id": "background_color",
          "default": "#FFFFFF",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "label_color",
          "default": "#0c2747",
          "label": "Label color"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    }
  ]
}
{% endschema %}
