{{ "image-text.css" | asset_url | stylesheet_tag }}
{{ "buttons.css" | asset_url | stylesheet_tag }}

<section class="image-text" style="
  {% if section.settings.background_image %}
    background-image: url({{ section.settings.background_image | image_url }});
    background-size: cover;
    background-position: center;
  {% endif %}
">
  <span class="image-text__overlay" style="
    {% if section.settings.overlay_color %}
      background-color: {{ section.settings.overlay_color }};
    {% endif %}
    {% if section.settings.overlay_opacity %}
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    {% endif %}
  "></span>
  <div class="image-text__content">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "heading" %}
          <h2 class="image-text__title" style="color: {{ block.settings.color }};">{{ block.settings.text }}</h2>
        {% when "text" %}
          <p class="image-text__text" style="color: {{ block.settings.color }};">{{ block.settings.text }}</p>
        {% when "button" %}
          <a class="bq-button" href="{{ block.settings.url }}" style="
            background-color: {{ block.settings.background_color }};
            color: {{ block.settings.label_color }};
          ">
            {{ block.settings.text }}
          </a>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "default": "#000000",
      "label": "Overlay color"
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "id": "overlay_opacity",
      "label": "Overlay opacity"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Image with text",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color",
          "default": "#000000",
          "label": "Color"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "Add some text to tell a story, explain how renting with your company works, or to let your potential customers know about the value you offer. Use this space however you like and fill it with whatever you want.",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "default": "#000000",
          "label": "Color"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Button label",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "background_color",
          "default": "#FFFFFF",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "label_color",
          "default": "#000000",
          "label": "Text color"
        }
      ]
    }
  ]
}
{% endschema %}
