{{ "products.css" | asset_url | stylesheet_tag }}
{{ "product.css" | asset_url | stylesheet_tag }}
{{ "carousels.css" | asset_url | stylesheet_tag }}

{% if section.settings.title %}
  <h2 class="products__title">{{ section.settings.title }}</h2>
{% endif %}
{% if section.blocks.size >= 1 and section.blocks.first.settings.product != blank %}
  <div class="carousel carousel--snap-{{ section.settings.snap }}">
    <div class="carousel__inner {% if section.settings.infinite_scroll %}infinite-scroll{% endif %}">
      {% for product in section.blocks %}
        {% if product.settings.product != blank %}
          {% assign image = product.settings.product.images.first %}
          <div id="{{ product.id }}" class="product carousel__item">
            <a href="{{ product.settings.product.url }}" class="product__image-container">{% if image != blank %}<img data-src="{{ image.url | image_url }}" alt="" class="product__image lazyload">{% endif %}</a>
            {{ product.settings.product | product_availability }}
            <a href="{{ product.settings.product.url }}">
              <h3 class="product__name">{{ product.settings.product.name }}</h3>
            </a>
            {{ product.settings.product | product_price_label }}
            {{ product.settings.product | product_price }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if section.blocks.size >= 1 and section.blocks.first.settings.product != blank %}
      <div class="carousel__controls">
        <div class="carousel__control prev">
          <i class="fa-regular fa-arrow-left"></i>
        </div>
        <div class="carousel__control next">
          <i class="fa-regular fa-arrow-right"></i>
        </div>
      </div>
    {% endif %}
  </div>
{% else %}
  <div class="products__cleanstate">
    {% for block in (1..3) %}
      <div id="{{ section.blocks.first.id }}" class="product-cleanstate">
        <div class="product-cleanstate__image skeleton"></div>
        <div class="product-cleanstate__availability skeleton"></div>
        <div class="product-cleanstate__name skeleton"></div>
        <div class="product-cleanstate__price skeleton"></div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Products",
  "tag": "section",
  "class": "products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "select",
      "id": "snap",
      "label": "Items alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "infinite_scroll",
      "label": "Infinite scroll"
    }
  ],
  "max_blocks": 16,
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
