{{ "product.css" | asset_url | stylesheet_tag }}

<div class="product-gallery">
  <div class="product-gallery__preview">
    <div class="product-gallery__preview-inner">
      {% for image in product.images %}
        <div class="product-gallery__preview-item">
          <img
            data-src="{{ image.url | image_url }}"
            alt=""
            class="lazyload"
          >
        </div>
      {% endfor %}
    </div>
    <div class="product-gallery__prev">
      <i class="fa-light fa-arrow-left"></i>
    </div>
    <div class="product-gallery__next">
      <i class="fa-light fa-arrow-right"></i>
    </div>
  </div>
  <div class="product-gallery__items">
    {% for image in product.images %}
      <div class="product-gallery__item-container">
        <img
          data-src="{{ image.url | image_url }}"
          data-focal-x="{{ image.coordinates[0] }}"
          data-focal-y="{{ image.coordinates[1] }}"
          alt=""
          class="focal-image lazyload"
        >
      </div>
    {% endfor %}
  </div>
</div>
<div class="product-info">
  <h1 class="product-info__title">{{ product.name }}</h1>
  <p class="product-info__label">Variation</p>
  {{ product_button }}
</div>
<div class="product-description">
  <p class="product-description__label">Description</p>
  {{ product.description }}
</div>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "product",
  "settings": []
}
{% endschema %}
