{{ "search.css" | asset_url | stylesheet_tag }}
{{ "product.css" | asset_url | stylesheet_tag }}
{{ "cleanstate.css" | asset_url | stylesheet_tag }}

<h1 class="search__title">Search results <span id="search__query"></span></h1>
{% paginate results %}
  <div class="search-results {% if results_count == 0 %}no-results{% endif %}">
    {% if results_count == 0 %}
      <div class="cleanstate">
        <p class="cleanstate__text">No results found.</p>
      </div>
    {% else %}
      {% for result in results %}
        {% assign image = result.images.first %}
        <div class="product">
          <a href="{{ result.url }}" class="product__image-container">{% if image != blank %}<img data-src="{{ image.url | image_url }}" alt="" class="product__image lazyload">{% endif %}</a>
          {{ result | product_availability }}
          <a href="{{ result.url }}">
            <h3 class="product__name">{{ result.name }}</h3>
          </a>
          {{ result | product_price_label }}
          {{ result | product_price }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% if paginate.pages > 1 %}
    {% include "pagination" %}
  {% endif %}
{% endpaginate %}

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "class": "search",
  "settings": [],
  "templates": ["search"]
}
{% endschema %}
