{{ "sidebar-navigation.css" | asset_url | stylesheet_tag }}

<input type="checkbox" id="sidebar-toggle">
<label for="sidebar-toggle" class="sidebar-toggle">
  <span>Menu</span>
</label>
<div class="sidebar-navigation">
  <div class="sidebar-navigation__wrapper">
    <div class="sidebar-navigation__header">
      <h2 class="sidebar-navigation__title">Menu</h2>
      <label for="sidebar-toggle">
        <div class="sidebar-navigation__close">
          <i class="fa-regular fa-xmark"></i>
        </div>
      </label>
    </div>
    <div class="sidebar-navigation__inner">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "sidebar-menu" %}
            {% assign menu_index = forloop.index %}
            {% assign menu = block.settings.menu %}
            <div id="{{ block.id }}" class="sidebar-navigation-menu">
              <ul class="list-menu list-menu--vertical">
                {% for link in menu.items %}
                  <li class="list-menu__item">
                    <a href="{{ link.url }}" class="sidebar-navigation-menu__link">
                      {{ link.title }}
                    </a>
                    {% if link.items_count > 0 %}
                      <input type="checkbox" id="sidebar-navigation-menu-child-{{ menu_index }}-{{ forloop.index }}">
                      <label for="sidebar-navigation-menu-child-{{ menu_index }}-{{ forloop.index }}">
                        <i class="fa-regular fa-angle-down list-menu__item-caret"></i>
                      </label>
                      <ul class="list-submenu">
                        {% for childlink in link.items %}
                          <li class="list-menu__item">
                            <a href="{{ childlink.url }}" class="sidebar-navigation-menu__link">
                              {{ childlink.title }}
                            </a>
                            {% if childlink.items_count > 0 %}
                              <input type="checkbox" id="sidebar-navigation-menu-grandchild-{{ menu_index }}-{{ forloop.index }}">
                              <label for="sidebar-navigation-menu-grandchild-{{ menu_index }}-{{ forloop.index }}">
                                <i class="fa-regular fa-angle-down list-menu__item-caret"></i>
                              </label>
                              <ul class="list-submenu">
                                {% for grandchildlink in childlink.items %}
                                  <li class="list-menu__item">
                                    <a href="{{ grandchildlink.url }}" class="sidebar-navigation-menu__link">
                                      {{ grandchildlink.title }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>