<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} Base stylesheets {% endcomment %}
  {{ "base.css" | asset_url | stylesheet_tag }}
  {{ "sessions-layout.css" | asset_url | stylesheet_tag }}
  {{ "header.css" | asset_url | stylesheet_tag }}
  {% comment %} Fonts {% endcomment %}
  <script src="https://kit.fontawesome.com/ff3b3de2b5.js" crossorigin="anonymous"></script>
  {{ content_for_header }}

  {% render 'fonts', settings: settings %}
  {% render 'color-palette-styles', settings: settings, branding_color: branding_color %}

  {% render 'page-metadata',
    canonical_url: canonical_url,
    page_title: page_title,
    page_description: page_description,
    page_meta_image_url: page_meta_image_url,
    page_meta_image_alt: page_meta_image_alt,
    product: product,
    shop: shop,
    locale: locale
  %}
</head>
<body>

  <div class="header__wrapper">
    <div>
      <a href="{{ routes.root_url }}" class="header__link">
          {% if section.settings.logo.url != blank %}
            <img
              src="{{ section.settings.logo | image_url }}"
              alt="{{ shop.name }}"
              class="header__image-logo"
            >
          {% elsif section.settings.custom_title != blank %}
            <h1 class="header__text-logo">{{ section.settings.custom_title }}</h1>
          {% elsif shop.logo_url != blank %}
            <img
              src="{{ shop.logo_url }}"
              alt="{{ shop.name }}"
              class="header__image-logo"
            >
          {% else %}
            <h1 class="header__text-logo">{{ shop.name }}</h1>
          {% endif %}
        </a>
    </div>
  </div>

  <main id="main">
    {{ content_for_layout }}
  </main>


  {{ content_for_body }}

</body>
</html>
