<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Base stylesheets {% endcomment %}
    {{ "base.css" | asset_url | stylesheet_tag }}
    {{ "rx.css" | asset_url | stylesheet_tag }}
    {% comment %} Fonts {% endcomment %}
    <script src="https://kit.fontawesome.com/ff3b3de2b5.js" crossorigin="anonymous"></script>
    {{ content_for_header }}

    {% render 'fonts', settings: settings %}
    {% render 'color-palette-styles', settings: settings, branding_color: branding_color, is_local_theme: is_local_theme %}

    {% render 'page-metadata',
      canonical_url: canonical_url,
      page_title: page_title,
      page_description: page_description,
      page_meta_image_url: page_meta_image_url,
      page_meta_image_alt: page_meta_image_alt,
      product: product,
      shop: shop,
      locale: locale
    %}
  </head>
  <body>

    {% section 'header' %}

    <main id="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <script src="{{ "lazysizes.min.js" | asset_url }}" defer></script>
    <script src="{{ "index.js" | asset_url }}" defer></script>
    <script src="{{ "menus.js" | asset_url }}" defer></script>
    <script src="{{ "carousels.js" | asset_url }}" defer></script>

    {{ content_for_body }}

  </body>
</html>
