{{ "columns.css" | asset_url | stylesheet_tag }}
{{ "post.css" | asset_url | stylesheet_tag }}

{% assign column = section.blocks.first.settings %}
{% if column.image.url != blank or column.title != blank or column.text != blank or column.button != blank %}
  {% assign column_exists = true %}
{% endif %}

<style>
  {% for block in section.blocks %}
    .columns-{{ section.key }} #{{ block.id }} .bq-button {
      color: var(--color-primary-foreground);

      {% if block.settings.use_solid_button %}
        background-color: var(--color-accent-background);
        color: var(--color-accent-foreground);
      {% endif %}

      {% if block.settings.use_solid_button and block.settings.background_color != blank %}
        background-color: {{ block.settings.background_color }};
      {% endif %}

      {% if block.settings.label_color != blank %}
        color: {{ block.settings.label_color }};
      {% endif %}
    }
  {% endfor %}
</style>

<div class="columns-{{ section.key }} columns__container columns__container--count-{{ section.settings.columns_count }}">
  {% if section.blocks.size >= 1 and column_exists %}
    {% for block in section.blocks %}
      <div id="{{ block.id }}" class="columns__column post">
        {% if block.settings.image.url != blank %}
          {% if block.settings.image_border_radius == true %}
            {% assign class = "post__image post__image--border-radius" %}
          {% else %}
            {% assign class = "post__image" %}
          {% endif %}
          {% case section.settings.columns_count %}
            {% when 1 %}
              {% assign widths = '700, 900, 1400' %}
            {% when 2 %}
              {% assign widths = '700, 900' %}
              {% assign sizes = '(max-width: 576px) 900px, 700px' %}
            {% when 3 %}
              {% assign widths = '500, 700, 900' %}
              {% assign sizes = '(max-width: 576px) 900px, (max-width: 810px) 700px, 500px' %}
          {% endcase %}
          {{ block.settings.image.url | image_tag:
            loading: 'lazy',
            widths: widths,
            sizes: sizes,
            class: class,
            alt: block.settings.image_alt
          }}
        {% endif %}
        <div class="post__content">
          {% if block.settings.title %}
            <h3 class="post__title">{{ block.settings.title }}</h3>
          {% endif %}
          {% if block.settings.text %}
            <div class="bq-content rx-content post__text">{{ block.settings.text }}</div>
          {% endif %}
          {% if block.settings.button_url %}
            <a class="bq-button bq-button--size-{{ block.settings.button_size }} {% if block.settings.use_solid_button %}bq-button--solid{% endif %}" href="{{ block.settings.button_url }}" {% if block.settings.use_new_tab %}target="_blank"{% endif %}>
              {{ block.settings.button }}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% for column in (1..2) %}
      <div id="{{ section.blocks.first.id }}" class="columns__column column-cleanstate">
        <div class="column-cleanstate__image skeleton"></div>
        <div class="column-cleanstate__title skeleton"></div>
        {% for line in (1..4) %}
          <div class="column-cleanstate__line column-cleanstate__line--{{ forloop.index }} skeleton"></div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Columns",
  "description": "Display content in a single or multi-column layout.",
  "tag": "section",
  "class": "columns",
  "settings": [
    {
      "type": "number",
      "id": "columns_count",
      "label": "Columns per row",
      "min": 1,
      "max": 3,
      "default": 3
    }
  ],
  "max_blocks": 9,
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "id": "image",
          "type": "image_picker"
        },
        {
          "id": "image_alt",
          "type": "text",
          "label": "Alternative text"
        },
        {
          "id": "image_border_radius",
          "type": "checkbox",
          "label": "Use round corners"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "text",
          "type": "contentEditor",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "id": "button",
          "type": "text",
          "label": "Label"
        },
        {
          "id": "button_url",
          "type": "url",
          "label": "URL"
        },
        {
          "id": "use_new_tab",
          "type": "checkbox",
          "label": "Open in a new tab"
        },
        {
          "id": "use_solid_button",
          "type": "checkbox",
          "label": "Use solid button",
          "default": true
        },
        {
          "id": "background_color",
          "type": "color",
          "label": "Background color",
          "placeholder": "Default"
        },
        {
          "id": "label_color",
          "type": "color",
          "label": "Label color",
          "placeholder": "Default"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    }
  ]
}
{% endschema %}
