{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">{{ section.settings.title }}</h3>

  {% if section.settings.description %}
    <div class="account__divider">
      {{ section.settings.description }}
    </div>
  {% endif %}

  {% form 'edit_password' %}
    <div class="{% if form.errors.password %}account-fieldset--error{% endif %}">
      <label for="user_password" class="account-fieldset__label">{{ section.settings.password_label }}</label><br>
      <input
        value="{{ form.password }}"
        placeholder=" "
        class="account-fieldset__input"
        autofocus="autofocus"
        autocomplete="new-password"
        type="password"
        name="user[password]"
        id="user_password">
      <div class="account__error-message">{{ form.errors.password }}</div>
    </div>

    <div class="account__divider--small {% if form.errors.password_confirmation %}account-fieldset--error{% endif %}">
      <label for="user_password_confirmation" class="account-fieldset__label">{{ section.settings.password_confirmation_label }}</label><br>
      <input
        value="{{ form.password_confirmation }}"
        placeholder=" "
        class="account-fieldset__input"
        autocomplete="new-password"
        type="password"
        name="user[password_confirmation]"
        id="user_password_confirmation">
      <div class="account__error-message">{{ form.errors.password_confirmation }}</div>
    </div>

    <div class="actions">
      <input
        type="submit"
        class="account__button account__button--primary"
        name="commit"
        value="{{ section.settings.change_my_password }}"
        data-disable-with="{{ section.settings.change_my_password }}">
    </div>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Edit password form",
    "important": true,
    "unique": true,
    "templates": ["edit-password"],
    "settings": [
      {
        "type": "header",
        "content": "Translations"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Change your password"
      },
      {
        "id": "description",
        "type": "text",
        "label": "Description",
        "default": ""
      },
      {
        "id": "password_label",
        "type": "text",
        "label": "Password field label",
        "default": "New password"
      }, {
        "id": "password_confirmation_label",
        "type": "text",
        "label": "Password confirmation field label",
        "default": "Confirm new password"
      }, {
        "id": "change_my_password",
        "type": "text",
        "label": "Change my password",
        "default": "Change my password"
      }
    ]
  }
{% endschema %}
