{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">Change your password</h3>

  <form class="new_shop_next_user" id="new_shop_next_user" action="{{ routes.reset_password_url }}" accept-charset="UTF-8" method="post">
    <input type="hidden" name="_method" value="put" autocomplete="off">
    <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" autocomplete="off">
    <input autocomplete="off" type="hidden" value="{{ form.reset_password_token }}" name="shop_next_user[reset_password_token]" id="shop_next_user_reset_password_token">

    <div class="{% if form.errors.password %}account-fieldset--error{% endif %}">
      <label for="shop_next_user_password" class="account-fieldset__label">New password</label><br>
      <input value="{{ form.password }}" placeholder=" " class="account-fieldset__input" autofocus="autofocus" autocomplete="new-password" type="password" name="shop_next_user[password]" id="shop_next_user_password">
      <div class="account__error-message">{{ form.errors.password }}</div>
    </div>

    <div class="account__divider--small {% if form.errors.password_confirmation %}account-fieldset--error{% endif %}">
      <label for="shop_next_user_password_confirmation" class="account-fieldset__label">Confirm new password</label><br>
      <input value="{{ form.password_confirmation }}" placeholder=" " class="account-fieldset__input" autocomplete="new-password" type="password" name="shop_next_user[password_confirmation]" id="shop_next_user_password_confirmation">
      <div class="account__error-message">{{ form.errors.password_confirmation }}</div>
    </div>

    <div class="actions">
      <input type="submit" class="account__button account__button--primary" name="commit" value="Change my password" data-disable-with="Change my password">
    </div>
  </form>
</div>

{% schema %}
  {
    "name": "Edit password form",
    "settings": []
  }
{% endschema %}