{{ "form.css" | asset_url | stylesheet_tag }}

<style>
  {% if section.settings.overlay_color != blank %}
    .form-{{ section.key }} .form__overlay {
      background-color: {{ section.settings.overlay_color }};
    }
  {% endif %}

  {% if section.settings.overlay_opacity != blank %}
    .form-{{ section.key }} .form__overlay {
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
  {% endif %}

  {% for block in section.blocks %}
    {% case block.type %}
      {% when "heading" %}
        .form-{{ section.key }} #{{ block.id }}{
          color: var(--color-primary-foreground);

          {% if block.settings.color != blank %}
            color: {{ block.settings.color }};
          {% endif %}
        }
      {% when "text" %}
        .form-{{ section.key }} #{{ block.id }} {
          color: var(--color-primary-foreground);

          {% if block.settings.color != blank %}
            color: {{ block.settings.color }};
          {% endif %}
        }
      {% when "button" %}
        .form-{{ section.key }} #{{ block.id }} {
          color: var(--color-primary-foreground);

          {% if block.settings.use_solid_button %}
            background-color: var(--color-accent-background);
            color: var(--color-accent-foreground);
          {% endif %}

          {% if block.settings.use_solid_button and block.settings.background_color != blank %}
            background-color: {{ block.settings.background_color }};
          {% endif %}

          {% if block.settings.label_color != blank %}
            color: {{ block.settings.label_color }};
          {% endif %}
        }
    {% endcase %}
  {% endfor %}
</style>

{% capture children %}
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "heading" %}
        <h1 id="{{ block.id }}" class="form__title form__title--size-{{ block.settings.size }}">{{ block.settings.text | escape }}</h1>
      {% when "text" %}
        <p id="{{ block.id }}" class="form__text form__text--size-{{ block.settings.size }}">{{ block.settings.text | escape }}</p>
      {% when "button" %}
        <div class="form__button-container form__button-container--align-{{ section.settings.content_justify }}">
          <a id="{{ block.id }}" class="bq-button bq-button--size-{{ block.settings.size }} {% if block.settings.use_solid_button %}bq-button--solid{% endif %}" href="{{ block.settings.url }}" {% if block.settings.use_new_tab %}target="_blank"{% endif %}>
            {{ block.settings.text | escape }}
          </a>
        </div>
    {% endcase %}
  {% endfor %}
{% endcapture %}

<div class="form-{{ section.key }} form__wrapper {% if section.settings.background_image.url != blank %}form__wrapper--with-image{% endif %}">
  {% if section.settings.background_image.url != blank %}
    {{ section.settings.background_image.url | image_tag:
      loading: 'lazy',
      class: 'form__background',
      widths: '900, 1400, 2500'
    }}
  {% endif %}
  <div class="form__inner {% if section.blocks.size > 0 %}form__inner--grid{% endif %} {% if section.settings.background_image.url != blank %}form__inner--with-image{% endif %} form__inner--spacing-{{ section.settings.vertical_spacing }}">
    {% if section.settings.overlay_enabled and section.settings.background_image.url != blank %}
      <span class="form__overlay"></span>
    {% endif %}
    {% if section.settings.placement == "left" %}
      <div class="form__form">
        {% include "form" %}
      </div>
      {% if section.blocks.size > 0 %}
        <div class="form__content form__content--align-{{ section.settings.content_align }} form__content--justify-{{ section.settings.content_justify }}">
          {{ children }}
        </div>
      {% endif %}
    {% else %}
      {% if section.blocks.size > 0 %}
        <div class="form__content form__content--align-{{ section.settings.content_align }} form__content--justify-{{ section.settings.content_justify }}">
          {{ children }}
        </div>
      {% endif %}
      <div class="form__form">
        {% include "form" %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Form",
  "description": "Display a contact form on your website.",
  "tag": "section",
  "class": "form",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "vertical_spacing",
      "label": "Vertical spacing",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "md"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "paragraph",
      "content": "Note: Applicable only when blocks are added to the section."
    },
    {
      "type": "select",
      "id": "content_justify",
      "label": "Horizontal alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Vertical alignment",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "paragraph",
      "content": "Note: Applicable only when a background image is added."
    },
    {
      "type": "checkbox",
      "id": "overlay_enabled",
      "label": "Enable overlay",
      "default": false
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Color",
      "default": "#000000",
      "placeholder": "Transparent"
    },
    {
      "type": "number",
      "min": 0,
      "max": 100,
      "id": "overlay_opacity",
      "label": "Opacity",
      "default": 60
    },
    {
      "type": "header",
      "content": "Form"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "placement",
      "type": "select",
      "label": "Placement",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "id": "button_color",
      "type": "color",
      "label": "Button background color"
    },
    {
      "id": "button_label_color",
      "type": "color",
      "label": "Button label color"
    },
    {
      "type": "header",
      "content": "Translations"
    },
    {
      "id": "name_label",
      "type": "text",
      "label": "Name label",
      "default": "Name"
    },
    {
      "id": "name_placeholder",
      "type": "text",
      "label": "Name placeholder",
      "default": "Your name"
    },
    {
      "id": "email_label",
      "type": "text",
      "label": "Email label",
      "default": "Email"
    },
    {
      "id": "email_placeholder",
      "type": "text",
      "label": "Email placeholder",
      "default": "Your email"
    },
    {
      "id": "message_label",
      "type": "text",
      "label": "Message label",
      "default": "Message"
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "Button label",
      "default": "Send"
    },
    {
      "id": "success_message",
      "type": "text",
      "label": "Success message",
      "default": "Thanks for your message! We'll get back to you shortly."
    },
    {
      "id": "error_message",
      "type": "text",
      "label": "Error message",
      "default": "Oops, something went wrong. Please fix the errors and try again."
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Hire from us",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "placeholder": "Default"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "Tell something about your company, describe what you do and what makes you unique.",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "placeholder": "Default"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Shop collection",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "id": "use_new_tab",
          "type": "checkbox",
          "label": "Open in a new tab"
        },
        {
          "id": "use_solid_button",
          "type": "checkbox",
          "label": "Use solid button",
          "default": true
        },
        {
          "type": "color",
          "id": "label_color",
          "label": "Label color",
          "placeholder": "Default"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "placeholder": "Default"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    }
  ]
}
{% endschema %}
