{{ "collections.css" | asset_url | stylesheet_tag }}

{% if section.settings.title %}
  <h2 class="collections__title collections__title--size-{{ section.settings.title_size }}">{{ section.settings.title }}</h2>
{% endif %}
{% paginate collections %}
  {% if collections.size > 0 %}
    <div class="collections__list">
      {% for collection in collections %}
        {% assign featured_image = "" %}
        {% assign first_product = collection.products | first %}

        <a href="{{ collection.url }}">
          <div class="collection">
            {% if collection.image.url != blank %}
              {% assign featured_image = collection.image.url %}
            {% elsif first_product and first_product.images.first != empty %}
              {% assign featured_image = first_product.images.first %}
            {% endif %}

            {% if featured_image != blank %}
              {% assign alt = collection.name | append: ' collection image' %}
              {{ featured_image | image_tag:
                loading: 'lazy',
                class: 'collection__image',
                alt: alt,
                widths: '576, 810'
              }}
            {% endif %}
            <h3 class="collection__name">{{ collection.name }}</h3>
          </div>
        </a>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      {% include "pagination" %}
    {% endif %}
  {% else %}
    {% include "cleanstate" %}
  {% endif %}
{% endpaginate %}

{% schema %}
{
  "name": "List",
  "tag": "section",
  "class": "collections",
  "settings": [
    {
      "type": "header",
      "content": "Collections"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "md"
    },
    {
      "type": "header",
      "content": "Cleanstate"
    },
    {
      "id": "heading",
      "label": "Heading",
      "type": "text"
    },
    {
      "id": "text",
      "label": "Text",
      "type": "textarea"
    },
    {
      "id": "button_label",
      "label": "Button label",
      "type": "text"
    },
    {
      "id": "button_background",
      "label": "Button background color",
      "type": "color",
      "placeholder": "Default"
    },
    {
      "id": "label_color",
      "label": "Button label color",
      "type": "color",
      "placeholder": "Default"
    }
  ],
  "max_blocks": 15,
  "blocks": [],
  "templates": ["list-collections"],
  "unique": true
}
{% endschema %}
