{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">Log in</h3>

  <form class="new_shop_next_user" id="new_shop_next_user" action="{{ canonical_url }}" accept-charset="UTF-8" method="post">

    <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" autocomplete="off">

    <div>
      <label for="shop_next_user_email" class="account-fieldset__label">Email</label>
      <input value="{{ form.email }}" class="account-fieldset__input" placeholder=" " autofocus="autofocus" autocomplete="email" type="email" name="shop_next_user[email]" id="shop_next_user_email">
    </div>

    <div>
      <label for="shop_next_user_password" class="account-fieldset__label">Password</label>
      <input value="{{ form.password }}" class="account-fieldset__input" placeholder=" " autocomplete="current-password" type="password" name="shop_next_user[password]" id="shop_next_user_password">
    </div>

    <div class="account__divider">
      <a href="{{ routes.reset_password_url }}" class="account__link">Forgot your password?</a>
    </div>

    {%- if alert -%}
      <div class="account__alert">{{ alert }}</div>
    {%- endif -%}

    <div class="account__divider">
      <input type="submit" class="account__button account__button--primary" name="commit" value="Log in" data-disable-with="Log in">
    </div>

    <hr class="account__separator" />

    <a href="{{ routes.register_url }}" class="account__button account__button--secondary account__divider">Create an account</a>

    <a href="" class="account__button account__button--minimal">Continue as guest</a>

  </form>
</div>
