{{ "product-page.css" | asset_url | stylesheet_tag }}
{{ "carousels.css" | asset_url | stylesheet_tag }}

{% if canonical_url contains "/1?" or canonical_url contains "/1#" %}
  {% include "product-page-preview" %}
{% else %}
  <div class="product-gallery">
    <bq-product-gallery product-id="{{ product.id }}" product-type="{{ product.type }}" enable-thumbnails="true" enable-controls="true"></bq-product-gallery>
  </div>
  <div class="product-details">
    <div class="product-info">
      <h1 class="product-info__title">{{ product.name }}</h1>
      <div class="product-button">
        {% if product.variants.size > 1 %}
          <p class="product-info__label">{{ section.settings.variation_label }}</p>
        {% endif %}
        {{ product | bundle_items }}
        {{ product | product_variations_select }}
        {{ product | product_price_label }}
        {{ product | product_price }}
        {{ product | product_availability }}
        {{ product | availability_calendar }}
        {{ product | product_button }}
      </div>
    </div>
    {% if product.description != blank %}
      <div class="product-description">
        <p class="product-description__label">{{ section.settings.description_label }}</p>
        <div class="product-description__content-container bq-content rx-content">
          {{ product.description }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Details",
  "tag": "section",
  "class": "product-page",
  "templates": ["product"],
  "settings": [
    {
      "type": "header",
      "content": "Translations"
    },
    {
      "type": "text",
      "id": "variation_label",
      "label": "Variations label",
      "default": "Variation"
    },
    {
      "type": "text",
      "id": "description_label",
      "label": "Description label",
      "default": "Description"
    }
  ],
  "important": true,
  "unique": true
}
{% endschema %}
