{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">Create an account</h3>
  <div class="account__divider">
    Already have an account?
    <a class="account__link" href="{{ routes.login_url }}">
      Log in
    </a>
  </div>

  <form class="new_shop_next_user" id="new_shop_next_user" action="{{ canonical_url }}" accept-charset="UTF-8" method="post">

    <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" autocomplete="off">

    <div class="{% if form.errors.name %}account-fieldset--error{% endif %}">
      <label for="shop_next_user_name" class="account-fieldset__label">Full name</label>
      <input value="{{ form.name }}" placeholder=" " autofocus="autofocus" class="account-fieldset__input" autocomplete="name" type="name" name="shop_next_user[name]" id="shop_next_user_name">
      <div class="account__error-message">{{ form.errors.name }}</div>
    </div>

    <div class="{% if form.errors.email %}account-fieldset--error{% endif %}">
      <label for="shop_next_user_email" class="account-fieldset__label">Email</label>
      <input value="{{ form.email }}" placeholder=" " autofocus="autofocus" class="account-fieldset__input" autocomplete="email" type="email" name="shop_next_user[email]" id="shop_next_user_email">
      <div class="account__error-message">{{ form.errors.email }}</div>
    </div>

    <div class="{% if form.errors.password %}account-fieldset--error{% endif %}">
      <label for="shop_next_user_password" class="account-fieldset__label">Password</label>
      <input autocomplete="new-password" placeholder=" " class="account-fieldset__input" type="password" name="shop_next_user[password]" id="shop_next_user_password">
      <div class="account__error-message">{{ form.errors.password }}</div>
    </div>

    <div class="{% if form.errors.password_confirmation %}account-fieldset--error{% endif %} account__divider">
      <label for="shop_next_user_password_confirmation" class="account-fieldset__label">Password confirmation</label>
      <input autocomplete="new-password" placeholder=" " class="account-fieldset__input" type="password" name="shop_next_user[password_confirmation]" id="shop_next_user_password_confirmation">
      <div class="account__error-message">{{ form.errors.password_confirmation }}</div>
    </div>
  
    <div class="{% if form.errors.customer %}account-fieldset--error{% endif %} account__divider">
      <label class="account-fieldset__static-label">Account type</label>
    
      <div class="account-type-options">
        <div class="account-type-options__first-option">
          <input type="radio" name="shop_next_user[legal_type]" id="shop_next_user_legal_type_person" value="person" {% if form.legal_type == 'person' %}checked{% endif %}>
          <label class="account-fieldset__radio-label" for="shop_next_user_legal_type_person">Private</label>
        </div>
        
        <div>
          <input type="radio" name="shop_next_user[legal_type]" id="shop_next_user_legal_type_commercial" value="commercial" {% if form.legal_type == 'commercial' %}checked{% endif %}>
          <label class="account-fieldset__radio-label" for="shop_next_user_legal_type_commercial">Company</label>
        </div>
      </div>
      <div class="account__error-message">{{ form.errors.customer }}</div>
    </div>

    <div class="account__divider--small">
      <input type="checkbox" name="shop_next_user[agreement_accepted]" id="shop_next_user_agreement_accepted" value="true" {% if form.agreement_accepted %}checked{% endif %}>
      <label for="shop_next_user_agreement_accepted">
        I agree to the <a class="account__link" href="https://booqable.com/agreement" target="_blank">Terms and Agreements</a>
      </label>
      <div class="account__error-message">{{ form.errors.agreement_accepted }}</div>
    </div>

    {%- if alert -%}
      <div class="account__alert">{{ alert }}</div>
    {%- endif -%}

    <input type="submit" class="account__button account__button--primary" name="commit" value="Sign up" data-disable-with="Sign up">
  </form>
</div>

{% schema %}
  {
    "name": "Register form",
    "settings": []
  }
{% endschema %}