{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">{{ section.settings.title }}</h3>
  <div class="account__divider">
    {{ section.settings.login_description }}
    <a class="account__link" href="{{ routes.login_url }}">
      {{ section.settings.login_link_label }}
    </a>
  </div>

  {%- if alert -%}
    <div class="account__alert">{{ alert }}</div>
  {%- endif -%}

  {% form 'register' %}
    <div class="{% if form.errors.name %}account-fieldset--error{% endif %}">
      <label for="user_name" class="account-fieldset__label">{{ section.settings.name_label }}</label>
      <input
        value="{{ form.name }}"
        placeholder=" "
        autofocus="autofocus"
        class="account-fieldset__input"
        autocomplete="name"
        type="name"
        name="user[name]"
        id="user_name">
      <div class="account__error-message">{{ form.errors.name }}</div>
    </div>

    <div class="{% if form.errors.email %}account-fieldset--error{% endif %}">
      <label for="user_email" class="account-fieldset__label">{{ section.settings.email_label }}</label>
      <input
        value="{{ form.email }}"
        placeholder=" "
        class="account-fieldset__input"
        autocomplete="email"
        type="email"
        name="user[email]"
        id="user_email">
      <div class="account__error-message">{{ form.errors.email }}</div>
    </div>

    {%- render 'form-password-session-pages',
        form: form,
        form_name: "register",
        password_label: section.settings.password_label,
        password_confirmation_label: section.settings.password_confirmation_label
    -%}

    <div class="{% if form.errors.customer %}account-fieldset--error{% endif %} account__divider">
      <label class="account-fieldset__static-label">{{ section.settings.account_type_label }}</label>

      <div class="account-type-options">
        <div class="account-type-options__first-option">
          <input
            type="radio"
            name="user[legal_type]"
            id="user_legal_type_person"
            value="person"
            {% if form.legal_type == 'person' %}checked{% endif %}>
          <label class="account-fieldset__radio-label" for="user_legal_type_person">{{ section.settings.private_label }}</label>
        </div>

        <div>
          <input
            type="radio"
            name="user[legal_type]"
            id="user_legal_type_commercial"
            value="commercial"
            {% if form.legal_type == 'commercial' %}checked{% endif %}>
          <label class="account-fieldset__radio-label" for="user_legal_type_commercial">{{ section.settings.company_label }}</label>
        </div>
      </div>
      <div class="account__error-message">{{ form.errors.customer }}</div>
    </div>

    <div class="account__divider--small">
      <input
        type="checkbox"
        name="user[agreement_accepted]"
        id="user_agreement_accepted"
        value="true"
        {% if form.agreement_accepted %}checked{% endif %}>
      <label for="user_agreement_accepted">
        {{ section.settings.i_agree_label }}

        <span class="account__agreement">
          <input type="checkbox" id="user_agreement_opener" style="display: none">
          <label for="user_agreement_opener" class="account__agreement-opener">
            {{ section.settings.terms_and_agreements_label }}
          </label>

          <span class="account__agreement-modal bq-content rx-content" style="display: none">
            <span class="account__agreement-content">
              <span class="account__agreement-inner">
                <label for="user_agreement_opener" class="account__agreement-closer">X</label>

                <span class="account__agreement-text">
                  {{- form.agreement_content -}}

                  <span class="account__agreement-buttons">
                    <label class="account__agreement-button account__button account__button--primary" for="user_agreement_opener">
                      {{ section.settings.terms_and_agreements_accept_button_label }}
                    </label>
                  </span>
                </span>
              </span>
            </span>
          </span>
        </span>
      </label>
      <div class="account__error-message">{{ form.errors.agreement_accepted }}</div>
    </div>

    <input
      type="submit"
      class="account__button account__button--primary"
      name="commit"
      value="{{ section.settings.button_sign_up_label }}"
    >
  {% endform %}
</div>

{% schema %}
  {
    "name": "Register form",
    "important": true,
    "unique": true,
    "templates": ["register"],
    "settings": [
      {
        "type": "header",
        "content": "Translations"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Create an account"
      },
      {
        "id": "login_description",
        "type": "text",
        "label": "Log in description",
        "default": "Already have an account?"
      },
      {
        "id": "login_link_label",
        "type": "text",
        "label": "Log in link label",
        "default": "Log in"
      }, {
        "id": "name_label",
        "type": "text",
        "label": "Name field label",
        "default": "Full name"
      }, {
        "id": "email_label",
        "type": "text",
        "label": "Email field label",
        "default": "Email"
      }, {
        "id": "password_label",
        "type": "text",
        "label": "Password field label",
        "default": "Password"
      }, {
        "id": "password_confirmation_label",
        "type": "text",
        "label": "Password confirmation field label",
        "default": "Password confirmation"
      }, {
        "id": "account_type_label",
        "type": "text",
        "label": "Account type label",
        "default": "Account type"
      }, {
        "id": "private_label",
        "type": "text",
        "label": "Private label",
        "default": "Private"
      }, {
        "id": "company_label",
        "type": "text",
        "label": "Company label",
        "default": "Company"
      }, {
        "id": "i_agree_label",
        "type": "text",
        "label": "I agree...",
        "default": "I agree to the"
      }, {
        "id": "terms_and_agreements_label",
        "type": "text",
        "label": "Terms and agreements",
        "default": "Terms and agreements"
      }, {
        "id": "terms_and_agreements_accept_button_label",
        "type": "text",
        "label": "Terms and agreements button (Modal window)",
        "default": "Agree"
      }, {
        "id": "button_sign_up_label",
        "type": "text",
        "label": "Sign up button",
        "default": "Sign up"
      }
    ]
  }
{% endschema %}
