{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <a href="{{ routes.login_url }}" class="breadcrumbs">
    <i class="fa-regular fa-chevron-left breadcrumbs__chevron"></i>
    {{ section.settings.back }}
  </a>

  <h3 class="account__title">{{ section.settings.title }}</h3>

  {% if section.settings.description %}
    <div class="account__divider">
      {{ section.settings.description }}
    </div>
  {% endif %}

  {% form 'reset_password' %}
    <div class="account__divider--small {% if form.errors.email %}account-fieldset--error{% endif %}">
      <label for="user_email" class="account-fieldset__label">{{ section.settings.email_label }}</label>
      <input
        value="{{ form.email }}"
        autofocus="autofocus"
        placeholder=" "
        class="account-fieldset__input"
        autocomplete="email"
        type="email"
        name="user[email]"
        id="user_email">
      <div class="account__error-message">{{ form.errors.email }}</div>
    </div>

    <input
      type="submit"
      class="account__button account__button--primary"
      name="commit"
      value="{{ section.settings.reset_password_button_label }}"
    >
  {% endform %}
</div>

{% schema %}
  {
    "name": "Reset password form",
    "important": true,
    "unique": true,
    "templates": ["reset-password"],
    "settings": [
      {
        "type": "header",
        "content": "Translations"
      },
      {
        "id": "back",
        "type": "text",
        "label": "Back link",
        "default": "Back"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Reset your password"
      },
      {
        "id": "description",
        "type": "text",
        "label": "Description",
        "default": "Enter your email address below and we will send you an email with a link to create a new password."
      }, {
        "id": "email_label",
        "type": "text",
        "label": "Email field label",
        "default": "Email"
      }, {
        "id": "reset_password_button_label",
        "type": "text",
        "label": "Reset password button label",
        "default": "Reset password"
      }
    ]
  }
{% endschema %}
