{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <a href="{{ routes.login_url }}" class="breadcrumbs">
    <i class="fa-regular fa-chevron-left breadcrumbs__chevron"></i> Back
  </a>
  <h3 class="account__title">Reset your password</h3>

  <p>Enter your email address below and we will send you an email with a link to create a new password.</p>

  <form class="new_shop_next_user" id="new_shop_next_user" action="{{ routes.reset_password_url }}" accept-charset="UTF-8" method="post">
    
    <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" autocomplete="off">

    <div class="account__divider--small {% if form.errors.email %}account-fieldset--error{% endif %}">
      <label for="shop_next_user_email" class="account-fieldset__label">Email</label><br>
      <input value="{{ form.email }}" autofocus="autofocus" placeholder=" " class="account-fieldset__input" autocomplete="email" type="email" name="shop_next_user[email]" id="shop_next_user_email">
      <div class="account__error-message">{{ form.errors.email }}</div>
    </div>

    <input type="submit" class="account__button account__button--primary" name="commit" value="Reset password" data-disable-with="Send me reset password instructions">
  </form>
</div>

{% schema %}
  {
    "name": "Reset password form",
    "settings": []
  }
{% endschema %}