{{ "form.css" | asset_url | stylesheet_tag }}

<style>
  .form__field, .form__textarea, .form__field::placeholder, .form__textarea::placeholder {
    font-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
  }

  .bq-button--{{ section.key }} {
    background-color: var(--color-accent-background);
    color: var(--color-accent-foreground);
  }

  {% if section.settings.button_color != blank %}
    .bq-button--{{ section.key }} {
      background-color: {{ section.settings.button_color }};
    }
  {% endif %}

  {% if section.settings.button_label_color != blank %}
    .bq-button--{{ section.key }} {
      color: {{ section.settings.button_label_color }};
    }
  {% endif %}
</style>

<div id="{{ section.key }}" class="form__inner">
  {% if section.settings.title != blank %}
    <h2 class="form__title">{{ section.settings.title }}</h2>
  {% endif %}
  {% form 'contact' %}
    <div class="form__sender-name">
      <label class="form__label" for="name">{{ section.settings.name_label }}</label>
      <input id="name" name="author" title="{{ section.settings.name_label }}" class="form__field form__field--{{ section.key }}" type="text" placeholder="{{ section.settings.name_placeholder }}" required>
    </div>
    <div class="form__sender-email">
      <label class="form__label" for="email">{{ section.settings.email_label }}</label>
      <input type="email" name="email" title="{{ section.settings.email_label }}" class="form__field form__field--{{ section.key }}" placeholder="{{ section.settings.email_placeholder }}">
    </div>
    <div class="form__message">
      <label class="form__label" for="message">{{ section.settings.message_label }}</label>
      <textarea id="message" name="body" title="{{ section.settings.message_label }}" class="form__textarea form__textarea--{{ section.key }}" rows="5" required></textarea>
    </div>
    <div class="form__error">
      <p class="form__error-message"></p>
    </div>
    <div class="form__submit">
      <button class="bq-button bq-button--size-lg bq-button--solid bq-button--{{ section.key }}" type="submit">
        {{ section.settings.button_label }}
      </button>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Form",
  "description": "Display a contact form on your website.",
  "class": "form",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "button_color",
      "type": "color",
      "label": "Button background color"
    },
    {
      "id": "button_label_color",
      "type": "color",
      "label": "Button label color"
    },
    {
      "type": "header",
      "content": "Translations"
    },
    {
      "id": "name_label",
      "type": "text",
      "label": "Name label",
      "default": "Name"
    },
    {
      "id": "name_placeholder",
      "type": "text",
      "label": "Name placeholder",
      "default": "Your name"
    },
    {
      "id": "email_label",
      "type": "text",
      "label": "Email label",
      "default": "Email"
    },
    {
      "id": "email_placeholder",
      "type": "text",
      "label": "Email placeholder",
      "default": "Your email"
    },
    {
      "id": "message_label",
      "type": "text",
      "label": "Message label",
      "default": "Message"
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "Button label",
      "default": "Send"
    }
  ]
}
{% endschema %}
